.idea
__pycache__/
**.pyc
**.env
myfile.txt
**venv
ai/datasets/
csvs/
.vscode/
rec.py
client_secret.json
tokens
log
TokenContract.sol

alembic.ini
docker-compose.yaml
entrypoint.sh
**.log

.pytest_cache